<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Flights</title>
  </head>
  <body>
    <section>
			<div>Airline: </div>
			<div><%= flight.airline %></div>
			<div>Origin: </div>
			<div><%= flight.airport %></div>
			<div>Destination: </div>
			<div><%=  %></div>
			<div>Flight Number: </div>
			<div><%= flight.flightNo %></div>
			<div>Departure Date/Time: </div>
			<div><%= flight.departs %></div>
		</section>
  </body>
</html>
